<form (ngSubmit)="submit()" [formGroup]="form" class="mb-4">
    <div class="mb-3">
        <label>Mood</label>
        <input class="form-control" formControlName="mood" placeholder="e.g. Happy, Stressed, Chill">
    </div>
    <div class="mb-3">
        <label>Notes</label>
        <textarea class="form-control" formControlName="notes" rows="2"></textarea>
    </div>
    <div class="mb-3">
        <label>Date</label>
        <input type="date" class="form-control" formControlName="date">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="form.invalid">Add Mood</button>
</form>
